<div class="list-group" style="border-radius: 0">
    <a href="{{ path('all_shop') }}" class="list-group-item active">
        All Models
    </a>
    <a href="{{ path('trio_shop') }}" class="list-group-item">Trio</a>
    <a href="{{ path('antique_shop') }}" class="list-group-item">Antique</a>
    <a href="{{ path('jester_shop') }}" class="list-group-item">Jester</a>
    <a href="{{ path('thimble_shop') }}" class="list-group-item">Thimble</a>
    <a href="{{ path('solomon_shop') }}" class="list-group-item">Solomon</a>
    <a href="{{ path('thinline_shop') }}" class="list-group-item">Thinline</a>
    <a href="{{ path('snake_shop') }}" class="list-group-item">Snake</a>
    <a href="{{ path('monkey_shop') }}" class="list-group-item">Monkey</a>
    <a href="{{ path('doubleInfi_shop') }}" class="list-group-item">Double Infi</a>
    <a href="{{ path('tripleInfi_shop') }}" class="list-group-item">Triple Infi</a>

</div>