{{ form_start(form) }}
    {{ form_row(form.color) }}
    {{ form_row(form.special) }}
    {{ form_row(form.size) }}
    {{ form_row(form.stock) }}
    {{ form_row(form.price) }}
    {{ form_row(form.image) }}



    <button type="submit" class="btn btn-primary">Save</button>
{{ form_end(form) }}