{% extends 'base.html.twig' %}

{% block body %}

    <style type="text/css">
        html, body {
            height: calc(100% - 52px);
            margin: 0;
        }

        body {
            min-height: 100%;
        }

        #wrapper {
            min-height: 100%;
            margin: 0 auto;
        }
    </style>

    <div class="row" id="wrapper" style="width: 100%; background-image: url({{ asset('resources/images/BlueWeave.png') }})">
        <div class="col-xs-10 col-xs-push-1 col-md-6 col-md-push-3" style="background-color: white; opacity: 0.90">

            <h2>Your cart:</h2><br>

            {% if cart == null %}
                Your cart is empty. <br><br>
            {% else %}
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Model</th>
                            <th>Accent</th>
                            <th>Color 1</th>
                            <th>Color 2</th>
                            <th>Color 3</th>
                            <th>Size</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    {% set totalprice = 0 %}
                    <tbody>
                    {% for cart in carts %}
                        <tr>
                            <td>{{ cart.model }}</td>
                            <td>{{ cart.accent }}</td>
                            <td>{{ cart.color1 }}</td>
                            <td>{{ cart.color2 }}</td>
                            <td>{{ cart.color3 }}</td>
                            <td>{{ cart.size }}</td>
                            <td>{{ cart.quantity }}</td>
                            <td>{{ cart.price }}€</td>
                        </tr>
                        {% set totalprice = totalprice + cart.price %}
                {% endfor %}
                </tbody>
            </table>

                <h5><b>Total Price: {{ totalprice }}€</b></h5>

                <a class="btn btn-sm btn-danger" href="{{ path('clear_cart') }}"><i class="glyphicon glyphicon-remove"></i> Clear Cart</a><br>

            {% endif %}

            <br>

            {% if cart != null %}
                {%  form_theme form 'bootstrap_3_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            {% endif %}

            <a class="btn btn-default" href="{{ path('all_shop') }}"><i class="glyphicon glyphicon-arrow-left"></i> Back to Shop</a>

            <br><br>

        </div>
    </div>

{% endblock %}

