{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.cord_size) }}
    {{ form_row(form.cord_amount) }}
    {{ form_row(form.is_accent) }}
    {{ form_row(form.price) }}
    {{ form_row(form.image) }}



    <button type="submit" class="btn btn-primary">Save</button>
{{ form_end(form) }}